@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

#container {
    display: flex;
}

#content {
    padding: 20px;
    width: 50%;
    height: 100vh;
}

#content header {
    margin-bottom: 90px;
}

#content .info h1{
    color: var(--title-color);
    margin-bottom: 20px;
}

#content .info p{
    color: var(--text-color);
    margin-bottom: 10px;
}

.inserir {
    margin-top: 30px;
    position: absolute;
    left: 20px;
    width: 60%;
}

.inserir input {
    width: 90%;
    height: 40px;
    display: inline-block;
    margin: 20px 5px 60px;
    border-left: 5px solid #04D361;
}

.inserir .submit{
    background-color: var(--bg-button-color);
    width: 5%;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 5px;
    right: 10px;
}

.inserir form button {
    background-color: #8257e5;
    height: 40px;
    border: #8257e5;
}

.rocketseat {
    text-decoration: none;
    color: var(--bg-button-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

footer {
    position: absolute;
    left: 30%;
    bottom: 0%;
    font: 10pt italic;
    color: var(--text-color);
}

footer strong {
    color: var(--bg-button-color);
}

#bg-img {
    width: 50%;
    height: 100vh;
    background-image: url('/assets/read_news.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}